{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Oswald&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{asset('under.css')}}" />
{% endblock %}

{% block body %}
    <div class="container">
        <h1  class="text-center text-under text-oswald mb-4">{{ user.name }} :</h1>
        <h2 class="text-indi_flower">{{ user.presentation }}</h2>
    </div>
{% endblock %}
